.section-search input {
    padding: 5px !important;    
    margin: 30px 5px !important;
    font-size: 16px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;

}

.input-field label {
    color: #512da8;
}

#link {
    color: #00bfa5;
}

.ticketsBtn {
    background-color: #00bfa5
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}